<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../../Css/style.css">
        <script>
            {{{#hasReferences}}}
                function loadValues(model,relatedModel,label,controlId,relation,searchId){
                    var xhr = new XMLHttpRequest();
                    var current = new XMLHttpRequest();
                    xhr.open("GET", `http://localhost:8084/api/${relatedModel}`,true);
                    current.open("GET", `http://localhost:8084/api/${model}/${searchId}`,true);
                    xhr.onreadystatechange = function () {
                        if(xhr.readyState === 4 && xhr.status === 200) {
                            var control = document.getElementById(controlId);
                            var response = JSON.parse(this.responseText);
                            current.onreadystatechange = function(){
                                if(current.readyState === 4 && current.status === 200){
                                    var currentRes = JSON.parse(this.responseText);
                                    if(relation == "1-M"){
                                        if(response.constructor === Array){
                                            control.innerHTML = response.map(row => {
                                                if(row[relatedModel + "_id"] == currentRes[model + "_id"]){
                                                    return "<option value =" + row[relatedModel + "_id"] + " selected>" + row[label + ""] + "</option>";
                                                }
                                                return "<option value=" + row[relatedModel + "_id"] + ">" + row[label + ""] + "</option>"

                                            }).join();
                                        }else{
                                            console.log(label);
                                            console.log(model);
                                            control.innerHTML = "<option value=" + response[relatedModel + "_id"] + ">" + response[label] + "</option>";
                                        }
                                    }
                                    else if(relation == "M-M"){
                                        if(response.constructor === Array){
                                            control.innerHTML = response.map(row => { return "<input type='checkbox' name={{checkBoxName}} value='" + row[model + "_id"] + "'>" + row[label] + "<br/>"}).join(" ");
                                        }else{
                                            control.innerHTML = "<input type='checkbox' name={{checkBoxName}} value='" + response[relatedModel + "_id"] + "'>" + response[label] + "<br/>";
                                        }
                                    }
                                }
                                
                            }
                        
                    }
                }
                    xhr.send();
                    current.send();
                }
                window.onload = function() {
                    {{#references}}
                    loadValues('{{model}}','{{{relatedModel}}}','{{label}}','label{{relatedModel}}value', "{{relation}}", '{{searchId}}');
                    {{/references}}
                }
            
            {{{/hasReferences}}}
        </script>
    </head>
    <body>
    <header>
        <div id="topimage"></div>
        {{>menu}}
    </header>
        <h1>{{title}}</h1>
        <form action= "http://localhost:8084/api/{{action}}" method={{method}}>
        {{#properties}}
        <div>
            <label {{isHidden}}>{{displayName}}:</label> <br>
            <input type={{type}}" name= {{name}} value="{{value}}" {{{conditions}}} {{isHidden}} {{required}}/>
            <p></p>
        </div>
        {{/properties}} 
        {{#references}}
            <div>
            <label>{{relatedModel}}</label><br>
            {{{html}}}
            <p></p>
            </div>
        {{/references}}
        <input type="submit" value="Submit">
        <footer>
            <div align = "right">
                Diogo Cruz nº 150221045 <br>
                Diogo Rocha nº 140275059 <br>
                Jorge Moreira nº 150221065 <br>
                Desenvolvimento Baseado em Modelo 2017/2018
            </div>
        </footer>
        </form>
    </body>
</html>