<nav>
    <ul>
        <li><a href="http://localhost:8084/backoffice/">Home</a></li>
        <li><a href="http://localhost:8084/backoffice/Sale">Sale</a></li>
        <li><a href="http://localhost:8084/backoffice/Type">Type</a></li>
        <li><a href="http://localhost:8084/backoffice/Brand">Brand</a></li>
        <li><a href="http://localhost:8084/backoffice/Product">Product</a></li>
    </ul>
</nav>