var express = require('express');
var router = express.Router();

var {{model}} = require('../Models/{{model}}.js');
var {{model}}Schema = require('../Models/{{model}}-schema.js');

router.get('/',function(req,res) {

    {{model}}.top("{{property}}", "{{order}}", {{limit}}, function (rows) {
        console.log(rows)
        res.render('welcome', {
            rows: rows.map(obj => {
                return {
                    properties: Object.keys(obj).map(key => {
                        return {
                            name: key,
                            value: obj[key]
                        }
                    })
                }
            }),
            columns: Object.keys(new {{model}}()).map(key => {
                return {
                    name: {{model}}Schema.properties[key].displayName
                };
            }),
            welcome: "Bem vindos ao site de DBM"
        });
    });
});

module.exports = router;