<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet"  href="../../Css/style.css">
    </head>
    <body>
    <header>
        <div id="topimage"></div>
        {{>menu}}
    </header>
    <h1>Projecto de DBM</h1>
        <h2>BackOffice</h2>
        Welcome to the backoffice of the Module Shop.
        <p>
        Here you will be able to add new types, brands, products and sales in order to give more diversity to your clients.
        <p>
        You will be able to create new brands and types that will be used later on the creation of products.
        <p>
        The products will be the main intereste since this will be what atracts your clients.
        <p>
        Hope you enjoy managing your shop.
        <p>
        <input type="button" value="Back to FrontOffice" onclick="javascript:window.location.replace('../')" />
        <footer>
            <div align = "right">
                Diogo Cruz nº 150221045 <br>
                Diogo Rocha nº 140275059 <br>
                Jorge Moreira nº 150221065 <br>
                Desenvolvimento Baseado em Modelo 2017/2018
            </div>
        </footer>
    </body>
</html>