<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../Css/style.css">
</head>
    <body>
        <header>
            <div id="topimage"></div>
            {{>menu}}
        </header>
        <h1>{{welcome}}</h1>
            <h2>FrontOffice</h2>
            
            Welcome to the Module Shop.
            <p>
            Here you will be able to see some of the products we have in display for you.
            <p>
            
            
        <table>
            <thead>
        <tr>
            {{#columns}}
            <th>{{{name}}}</th>
            {{/columns}}
        </tr>
        </thead>
            {{#rows}}
                <tr>
                    {{#properties}}
                <td>
                    {{value}}
                </td>
                    {{/properties}}
                </tr>
            {{/rows}}
        </table>
        <footer>
            <div align = "right">
            Diogo Cruz nº 150221045 <br>
            Diogo Rocha nº 140275059 <br>
            Jorge Moreira nº 150221065 <br>
            Desenvolvimento Baseado em Modelo 2017/2018
            </div>
        </footer>
    </body>
</html>